/*Use Roles.css for Tanks.html, Dps.html and Support.html*/
h1 {
    text-align: center;
    font-size: 60px;
}
h2 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 150px;
}

.hero-Picture {
    float: left;
    padding-right: 200px;
}

.icon {
    height: 30%;
    width: 20%;
    float: right;
    padding-right: 10px;
}

.imgcontainer {
    float: left;
    /* Space in between the Hero picture and 'Counter' chart */
    /* padding-right: 5%; */
}

.container {
    max-width: 500px;
    width: 90%;
    padding: 0px 0;
}

.photo-gallery {
    display:flex;
    gap: 0px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* This giving too much padding */
.row {
    display: flex;
    flex-direction: row;
    gap: 0px;
    
}


.photo img {
    width: 90%;
    height: 90%;
    border-radius: 5px;
    object-fit: cover;
}

@media(max-width: 300px) {
    .photo-gallery {
        flex-direction: column;
    }
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

