h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 25px;
}

h3 {
    font-size: 35px;
}

h4 {
    text-align: center;
    font-size: 40px
}

.heroes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

figcaption {
    text-align: center;
}

.bottom-line {
    margin-top: 25px;
}

.bpd {
    display: block;
    height: 300px;
    float: right;
    margin: 0 15px 0 0;
    padding-bottom: 10px;
}

.bpd2 {
    display: block;
    width: 200px;
    float: left;
    margin: 0 15px 0 0;
}

.bpd3 {
    display: block;
    float: right;
    height: 350px;
    margin: 0 15px 0 0;
}

.bpdText {
    font-size: 25px;
    padding-bottom: 10%;
}